<nav id="navMenu" class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top px-3 mb-4 blurry" aria-label="Main navigation">
    <a class="navbar-brand d-lg-none" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle main navigation menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav mx-lg-auto">
          <a class="navbar-brand d-none d-lg-block " href="{{ site.baseurl }}/">Home</a>
          <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/committees.html">Committee</a>
            </li>
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/submission.html">Important Dates</a> -->
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/program.html">Program</a> -->
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/proceedings.html">For Authors</a> -->
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/posterAndLogo.html">Local Informations</a> -->
            <!-- </li> -->
            <!-- <li class="nav-item"> -->
            <!--     <a class="nav-link" href="/previsousEditions.html"> Previous Editions   </a> -->
            <!-- </li> -->

        </ul>
    </div>
</nav>
