<nav class="menu">
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/committees' | relative_url }}">Committees</a></li>
        <li><a href="{{ '/submission' | relative_url }}">Submission</a></li>
        <li><a href="{{ '/program' | relative_url }}">Program</a></li>
        <li><a href="{{ '/proceedings' | relative_url }}">Proceedings</a></li>
        <li><a href="{{ '/poster-logo' | relative_url }}">Poster & Logo</a></li>
        <li><a href="{{ '/previous-editions' | relative_url }}">Previous Editions</a></li>
        <li><a href="{{ '/news' | relative_url }}">News</a></li>
    </ul>
</nav>
